@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Hoàng Kim Dũng
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0978 125 576
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:hoangkimdung2142002@gmail.com">hoangkimdung2142002@gmail.com</a><br />
</address>